dist/
build/
.DS_Store
.vs/
attic/
storage/
packed/

/assets/user/
/assets/devel/
/assets/packed.pak
/assets/packed/

mods/*

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
